language: python

python:
  - "3.5"
  - "3.6"

install:
  - pip install -r test-requirements.txt
  - pip install -r requirements.txt
  - pip install tox-travis

script:
  - tox

after_success:
  - coveralls
